<visicutPreferences>
  <defaultMapping>schneide rot, graviere Rest, ignoriere blau, markiere gruen</defaultMapping>
  <disableSandbox>true</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <labName>FAU FabLab</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/tmp/temp-visicut-HwFJ1u/default.de.svg</string>
    <string>/tmp/temp-visicut-Mwhpp3/default.de.svg</string>
    <string>/tmp/temp-visicut-5JhMAS/default.de.svg</string>
    <string>/tmp/temp-visicut-IT1mL7/default.de.svg</string>
    <string>/tmp/temp-visicut-3mhEaR/default.de.svg</string>
  </recentFiles>
  <lastMaterial>Acryl</lastMaterial>
  <lastLaserDevice>LTT iLaser 4000</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>