<visicutPreferences>
  <defaultMapping>schneide rot, graviere Rest, ignoriere blau, markiere grün</defaultMapping>
  <disableSandbox>true</disableSandbox>
  <useFilenamesForJobs>true</useFilenamesForJobs>
  <potracePath>potrace</potracePath>
  <mkbitmapPath>mkbitmap</mkbitmapPath>
  <windowBounds>
    <x>-4</x>
    <y>-3</y>
    <width>1928</width>
    <height>1157</height>
  </windowBounds>
  <useThicknessAsFocusOffset>true</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/tmp/ink_ext_XXXXXX.svgOSIAOX.svg</string>
    <string>/home/fablab/Dateifreigabe/0_Temp_wird_regelmaessig_geloescht/LaserScriptFocustest.ls</string>
    <string>/media/JANICK-16/Auffangbehälter.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgGEJUNX.svg</string>
    <string>/tmp/ink_ext_XXXXXX.svgJLA5NX.svg</string>
  </recentFiles>
  <lastMaterial>Sperrholz Gabun</lastMaterial>
  <lastLaserDevice>Epilog_Zing_Fablab</lastLaserDevice>
  <availableImporters>
    <string>com.t_oster.visicut.model.graphicelements.svgsupport.SVGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.jpgpngsupport.JPGPNGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.dxfsupport.DXFImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.epssupport.EPSImporter</string>
  </availableImporters>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>